<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top_bottom.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="top_nav">
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/species">Species</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/anatomy">Anatomy</a>
            </div>
        </div>
        <div class="top_block">
            <a href="/"><h1 class="title">ICANHAZSHARK.COM</h1></a>
        </div>
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/conservation">Conservation</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/community">Community</a>
            </div>
        </div>
    </div>
    <h2>The anatomy of a shark</h2>
    <div class="main_parag">
        <p class="par">
            At the front of the shark, you'll find its pointy snout, which it uses to smell out tasty treats from a mile away. Its nose is like a super-powered sniffer, able to detect even the tiniest drops of blood from far, far away.
        </p>
        <p class="par">
            Right behind the snout, you'll see a row of razor-sharp teeth, each one ready to chomp down on anything that dares to cross the shark's path. And if a tooth happens to fall out, no worries! Sharks have backup teeth ready to take its place.
        </p>
    </div>
    <div class="main_image">
        <img src="pics/shark_anatomy.jpg">
    </div>
    <div class="main_parag">
        <p class="par">
            Moving further down the shark, you'll find its powerful fins, which it uses to zoom through the water like a race car. These fins are like a shark's personal jets, and they help it make tight turns and shoot off in any direction it wants.
        </p>
        <p class="par">
            And last but not least, the shark's tail is its engine. With a flick of its tail, a shark can go from 0 to 60 in the blink of an eye. It's like having a built-in turbo boost, and it helps the shark catch even the quickest prey.
        </p>
    </div>
    <div class="pinup">
        <img src="pics/dance_shark.gif">
    </div>
</body>
</html>