<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top_bottom.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="top_nav">
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/species">Species</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/anatomy">Anatomy</a>
            </div>
        </div>
        <div class="top_block">
            <a href="/"><h1 class="title">ICANHAZSHARK.COM</h1></a>
        </div>
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/conservation">Conservation</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/community">Community</a>
            </div>
        </div>
    </div>
    <h2>An informative guide to shark attacks</h2>
    <div class="main_parag">
        <p class="par">
            Let's dive into the wild and wacky world of shark attacks!
        </p>
        <p class="par">
            First things first, shark attacks are incredibly rare. In fact, you're more likely to be struck by lightning or win the lottery than to be attacked by a shark. But just in case, here's what you need to know:
        </p>
        <p class="par">
            When a shark does attack, it's usually because it mistakes you for a tasty snack. So, if you want to avoid a shark attack, it's best to avoid looking like a big, juicy seal.
        </p>
    </div>
    <div class="main_image">
        <img src="pics/nerd_shark.jpg">
    </div>
    <div class="main_parag">
        <p class="par">
            One way to do this is by avoiding wearing shiny jewelry or brightly colored clothing, as these can attract a shark's attention. Instead, opt for dark, solid colors that blend in with the sea.
        </p>
        <p class="par">
            Another tip is to avoid swimming near schools of fish or seals, as these are popular hangouts for sharks. And if you do see a shark, don't panic! Just slowly swim back to shore, keeping your eyes on the shark the whole time.
        </p>
        <p class="par">
            Finally, if a shark does attack, the best thing to do is to punch it in the nose. That's right, give it a good old-fashioned knuckle sandwich! Sharks have sensitive noses, and a punch will usually make them swim away.
        </p>
        <p class="par">
            So there you have it, an informative guide to avoiding shark attacks. Just remember, sharks are more afraid of you than you are of them. But if all else fails, just give it a good punch and swim away as fast as you can!
        </p>
    </div>
    <div class="pinup">
        <img src="pics/dance_shark.gif">
    </div>
</body>
</html>