<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top_bottom.css">
    <link rel="stylesheet" href="css/community.css">
</head>
<body>
    <div class="top_nav">
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/species">Species</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/anatomy">Anatomy</a>
            </div>
        </div>
        <div class="top_block">
            <a href="/"><h1 class="title">ICANHAZSHARK.COM</h1></a>
        </div>
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/conservation">Conservation</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/community">Community</a>
            </div>
        </div>
    </div>
    <div class="community_content">
        <div class="fanarts">
            <div class="fanart_box">
                <img src="pics/shark.webp">
                <p>"Megalodon" made by @Megan</p>
            </div>
            <div class="fanart_box">
                <img src="pics/nerd_shark.jpg">
                <p>"Megalodon" made by @Megan</p>
            </div>
            <div class="fanart_box">
                <img src="pics/goblin_shark.jpg">
                <p>"Megalodon" made by @Megan</p>
            </div>
            <div class="fanart_box">
                <img src="pics/shark.webp">
                <p>"Megalodon" made by @Megan</p>
            </div>
            <div class="fanart_box">
                <img src="pics/pacifist_shark.png">
                <p>"Megalodon" made by @Megan</p>
            </div>
            <div class="fanart_box">
                <img src="pics/shark.webp">
                <p>"Megalodon" made by @Megan</p>
            </div>
            <div class="fanart_box">
                <img src="pics/derpy_shark.jpg">
                <p>"Megalodon" made by @Megan</p>
            </div>
            <div class="fanart_box">
                <img src="pics/shark.webp">
                <p>"Megalodon" made by @Megan</p>
            </div>
        </div>
        <div class="community_sections">
            <h1>Community: </h1>
            <a class="community_link" href="/community/forums">- Forums</a>
            <a class="community_link" href="/community/art">- Art Pieces</a>
            <a class="community_link" href="/community/account">- My account</a>
            <a class="community_link" href="/login">- Login</a>
        </div>
    </div>
    <div class="pinup">
        <img src="pics/dance_shark.gif">
    </div>
</body>
</html>