<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top_bottom.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="top_nav">
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/species">Species</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/anatomy">Anatomy</a>
            </div>
        </div>
        <div class="top_block">
            <a href="/"><h1 class="title">ICANHAZSHARK.COM</h1></a>
        </div>
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/conservation">Conservation</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/community">Community</a>
            </div>
        </div>
    </div>
    <h2>Shark conservationism</h2>
    <div class="main_parag">
        <p class="par">
            Get ready to dive into the wild and wacky world of shark conservationism!
        </p>
        <p class="par">
            Sharks are some of the coolest creatures in the ocean, but unfortunately, many species are in danger of becoming extinct. But don't worry, we can help! Here's what you can do:
        </p>
        <p class="par">
            First, stop eating shark fins. That's right, say goodbye to shark fin soup and hello to some other kind of soup. When people eat shark fins, it leads to overfishing, which can hurt shark populations.
        </p>
    </div>
    <div class="main_image">
        <img src="pics/pacifist_shark.png">
    </div>
    <div class="main_parag">
        <p class="par">
            Next, support organizations that protect sharks. These groups work hard to protect shark habitats and make sure that these amazing creatures are around for future generations to enjoy.
        </p>
        <p class="par">
            And last but not least, educate others about sharks. Spread the word about how awesome these creatures are and why it's important to protect them.
        </p>
        <p class="par">
            So there you have it, a silly and important guide to shark conservationism. Let's all do our part to protect these amazing creatures and keep them swimming in the ocean for years to come!
        </p>
    </div>
    <div class="pinup">
        <img src="pics/dance_shark.gif">
    </div>
</body>
</html>