<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top_bottom.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="top_nav">
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/species">Species</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/anatomy">Anatomy</a>
            </div>
        </div>
        <div class="top_block">
            <a href="/"><h1 class="title">ICANHAZSHARK.COM</h1></a>
        </div>
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/conservation">Conservation</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/community">Community</a>
            </div>
        </div>
    </div>
    <div class="intro">
        <img src="pics/shark.webp">
        <div class="intro_text">
            <h1>Welcome to icanhazshark.com, </h1>
            <p>your source for all things sharks. Discover different species, habitats, and the latest in research and conservation efforts. Join us on a journey into the fascinating world of these magnificent creatures.</p>
        </div>
    </div>
    <div class="main_parag">
        <p class="par">
            Sharks are one of the coolest creatures in the ocean! They've been around for a bajillion years (400 million, to be exact), and have survived all sorts of disasters and near-extinctions. They're like the superheroes of the sea, with their tough cartilaginous skeletons, powerful fins, and razor-sharp teeth that never stop growing.
        </p>
        <p class="par">
            Sharks are found all over the place in the ocean, from sunny shallows to dark and mysterious depths. They're like the ocean's secret agents, always on the move and ready to pounce on unsuspecting prey. And the best part is, they come in so many different shapes and sizes! There are over 400 species of sharks, each with their own special abilities and quirks.
        </p>
        <div class="main_image">
            <img src="pics/derpy_shark.jpg">
        </div>
        <p class="par">
            The biggest order of sharks is the Lamniformes, which includes the great white shark and the mako shark. These guys are the musclemen of the ocean, with huge jaws and teeth that could make even the bravest swimmers think twice before getting in the water.
        </p>
        <p class="par">
            So there you have it, a quick and goofy rundown of the amazing world of sharks! These ancient and awesome creatures play an important role in keeping the ocean's food chain in balance, and they're just plain cool to learn about!
        </p>
    </div>
    <div class="pinup">
        <img src="pics/dance_shark.gif">
    </div>
</body>
</html>