<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/top_bottom.css">
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <div class="top_nav">
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/species">Species</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/anatomy">Anatomy</a>
            </div>
        </div>
        <div class="top_block">
            <a href="/"><h1 class="title">ICANHAZSHARK.COM</h1></a>
        </div>
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/conservation">Conservation</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/community">Community</a>
            </div>
        </div>
    </div>
    <h2>The page you are looking for does not exist!</h2>
    <div class="main_image">
        <img src="pics/surprised_shark.png">
    </div>
    <div class="pinup">
        <img src="pics/dance_shark.gif">
    </div>
</body>
</html>