<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/top_bottom.css">
    <link rel="stylesheet" href="css/species.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="top_nav">
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/species">Species</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/anatomy">Anatomy</a>
            </div>
        </div>
        <div class="top_block">
            <a href="/"><h1 class="title">ICANHAZSHARK.COM</h1></a>
        </div>
        <div class="top_side">
            <div class="top_block">
                <a class="top_link" href="/conservation">Conservation</a>
            </div>
            <div class="top_block">
                <a class="top_link" href="/community">Community</a>
            </div>
        </div>
    </div>
    <h2>Shark species</h2>
    <div class="filters">
        <p>Sort by:</p>
        <select name="filters" id="filters">
            <option value="">Nothing</option>
            <option value="cute">Cuteness</option>
            <option value="dead">Deadliness</option>
            <option value="size">Size</option>
            <option value="endagered">Endangered</option>
        </select>
    </div>
    <!--This should be done throw a database-->
    <div class="list">
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">1. Great White Shark (Carcharodon carcharias)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">2. Bull Shark (Carcharhinus leucas)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">3. Tiger Shark (Galeocerdo cuvier)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">4. Hammerhead Shark (Sphyrnidae)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">5. Blacktip Shark (Carcharhinus limbatus)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">6. Nurse Shark (Ginglymostoma cirratum)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">7. Mako Shark (Isurus oxyrinchus)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">8. Thresher Shark (Alopias spp.)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">9. Greenland Shark (Somniosus microcephalus)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
        <div class="entry">
            <div class="basic_info">
                <a class="name" href="/species">10. Basking Shark (Cetorhinus maximus)</a>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
                <p>- Basic info: basic info.</p>
            </div>
            <img src="pics/goblin_shark.jpg">
        </div>
    </div>
    <div class="pinup">
        <img src="pics/dance_shark.gif">
    </div>
</body>
</html>